<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head.ejs") %>
    <title>Scheduler Index</title>
</head>
<body>
    <h3>Welcome to Planificate!</h3>
    <%- include("./partials/nav.ejs") %>
    <% const name = "Sergio Montufar" %>

    <a href="/scheduler/new">
        <button id="new-button">Add New Schedule!</button>
    </a>
    <% for (let i = 0; i < schedules.length; i++) { %>
        <div class="container">
            <h3>Schedule: 
                <a href="/scheduler/<%=schedules[i]._id %>">
                    <%= schedules[i].name %>
                </a>
            </h3>
            <h4>Date Of Event: <%= schedules[i].date %></h4>
        </div> 
    <% } %>

    <!-- <form action="/scheduler?_method=DELETE" method="POST">
        <input type="submit" value="Delete All">
    </form> -->
    <footer> Created By: <%= name %></footer>
</body>
</html>