<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head.ejs") %>
    <title>Scheduler Show Page</title>
</head>
<body>
    <h1>Scheduler Show Page!</h1>
    <h2> Name Of Event: <%= schedule.name %></h2>
    <nav>
        <a href="/scheduler">
            <button>Back to Home Page</button>
        </a>
    </nav>
    <div>
        <h4>The Event is on: <%= schedule.date%></h4>
        <% if (schedule.all_day === "on") { %>
            <h4>It lasts all day!</h4>
        <% } else { %>
            <h4>It starts at <%= schedule.first_time %> and ends at <%= schedule.second_time %></h4>
        <% } %>

        <% if (schedule.description) %>
            <h4>
                Description: <%= schedule.description %>
            </h4>
    </div>
    <a href="/scheduler/<%=schedule._id%>/edit">
        <button>Edit</button>
    </a>
    <form action="/scheduler/<%=schedule._id%>?_method=DELETE" method="POST">
        <input type="submit" value="Delete">
    </form>
    
</body>
</html>